$dark-green: #357875; 
$dark-silver: #424242;
$dark-grey-border: #707070;
$light-silver-border: #d6d6d6;
$pink-border: #aa198d;
$button-disabled-background: #eaeaea;
$button-disabled-color: #bbbbbb;
$birth-date-color: #aa198d;
$error-message: #ff3a00;
$error-background: rgba(255, 58, 0, 0.08);