@font-face {
  font-family: 'Lucida Grande';
  src: url(/assets/fonts/Lucida-Grande.ttf);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', sans-serif;
}

main {
  display: flex;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
  flex-direction: row;
  position: relative;
  max-width: 1440px;
  height: 100%;
}

@media (max-width: 1024px) {
  main {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  main {
    max-width: 768px;
  }
}

@media (max-width: 593px) {
  main {
    max-width: 593px;
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  main {
    max-width: 425px;
  }
}

main aside {
  position: relative;
  overflow: hidden;
  flex: 1;
  background-image: url(../resources/bg.svg);
  background-attachment: initial;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1024px) {
  main aside {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-position: top right;
  }
}

@media (max-width: 593px) {
  main aside {
    position: relative;
    min-height: 193px;
    background: url(../resources/bg-phone.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
}

main aside #signUpLogo {
  position: absolute;
  top: 45px;
  left: 42px;
  max-width: 147px;
}

@media (max-width: 1024px) {
  main aside #signUpLogo {
    left: calc(50% - 73.5px);
    margin: 0 auto;
    z-index: 2;
  }
}

@media (max-width: 593px) {
  main aside #signUpLogo {
    position: relative;
    z-index: 4;
    top: 70px;
  }
}

main section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  main section {
    z-index: 2;
    max-width: calc(100% - 194px);
    height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    margin-top: 128px;
    margin-bottom: 61px;
    box-shadow: 1px 1px 35px 0 rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 593px) {
  main section {
    max-width: 100%;
    margin: 0;
    box-shadow: none;
  }
}

main section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;
  margin: 48px 0 0 0;
  width: calc(100% - 226px);
}

@media (max-width: 1024px) {
  main section form {
    width: calc(100% - 80px);
    margin: 48px 0 55px 0;
    height: 100%;
  }
}

@media (max-width: 425px) {
  main section form {
    width: calc(100% - 40px);
    margin: 30px 0 32px 0;
  }
}

main section form h1 {
  align-self: flex-end;
  font-weight: bold;
  font-size: 44px;
  color: #357875;
  font-weight: 600;
  margin: 0;
  width: 100%;
}

@media (max-width: 593px) {
  main section form h1 {
    font-size: 28px;
  }
}

main section form h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  margin: 6px 0 21px 0;
  line-height: 1.63;
  width: 100%;
  color: #424242;
  font-family: sans-serif;
}

@media (max-width: 1024px) {
  main section form h4 {
    align-self: flex-end;
    max-width: 479px;
  }
}

@media (max-width: 425px) {
  main section form h4 {
    width: calc(100% - 40px);
  }
}

main section form .smallInputs--Container {
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  main section form .smallInputs--Container {
    flex-direction: column;
  }
}

main section form .smallInputs--Container .password--Field {
  position: relative;
  margin-top: 25px;
}

main section form .smallInputs--Container .password--Field img {
  position: absolute;
  top: 38px;
  left: 14px;
  height: 24px;
  width: 24px;
}

main section form .smallInputs--Container .name--Field, main section form .smallInputs--Container .password--Field {
  display: flex;
  flex-direction: column;
  width: calc(50% - 12px);
}

@media (max-width: 768px) {
  main section form .smallInputs--Container .name--Field, main section form .smallInputs--Container .password--Field {
    width: 100%;
    margin-top: 25px;
  }
}

main section form .smallInputs--Container .name--Field label, main section form .smallInputs--Container .password--Field label {
  font-size: 16px;
  line-height: 1.5;
  color: #424242;
  font-family: sans-serif;
}

main section form .smallInputs--Container .name--Field input, main section form .smallInputs--Container .password--Field input {
  height: 48px;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  outline: none;
  float: right;
  direction: rtl;
  text-indent: 16px;
  font-size: 16px;
}

main section form .smallInputs--Container .name--Field input:hover, main section form .smallInputs--Container .password--Field input:hover {
  border: 1px solid #707070;
}

main section form .smallInputs--Container .name--Field input:focus, main section form .smallInputs--Container .password--Field input:focus {
  box-shadow: 0 0 0 1px #aa198d;
}

main section form .smallInputs--Container .name--Field input::-ms-clear, main section form .smallInputs--Container .name--Field input::-ms-reveal, main section form .smallInputs--Container .password--Field input::-ms-clear, main section form .smallInputs--Container .password--Field input::-ms-reveal {
  display: none;
}

main section form .birthDate--Container {
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 25px;
  width: 100%;
}

main section form .birthDate--Container label {
  font-size: 16px;
  line-height: 1.5;
  color: #424242;
  font-family: sans-serif;
}

main section form .birthDate--Container input {
  text-indent: 16px;
  font-size: 16px;
  height: 48px;
  width: 50%;
  direction: rtl;
  text-align: right;
  font-family: sans-serif;
}

@media (max-width: 768px) {
  main section form .birthDate--Container input {
    width: 100%;
  }
}

main section form .birthDate--Container input:hover {
  border: 2px solid #707070;
}

main section form .birthDate--Container input:focus {
  box-shadow: 0 0 0 1px #aa198d;
}

main section form .largeInputs--Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 25px;
}

main section form .largeInputs--Container label {
  font-size: 16px;
  line-height: 1.5;
  color: #424242;
  font-family: sans-serif;
}

main section form .largeInputs--Container input {
  height: 48px;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  outline: none;
  resize: vertical;
  float: left;
  direction: rtl;
  text-indent: 16px;
  font-size: 16px;
}

main section form .largeInputs--Container input:hover {
  border: 1px solid #707070;
}

main section form .largeInputs--Container input:focus {
  box-shadow: 0 0 0 1px #aa198d;
}

main section form .largeInputs--Container input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

main section form .largeInputs--Container input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

main section form .largeInputs--Container .select2-container--default {
  line-height: 48px !important;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  max-width: 100%;
  width: 100% !important;
}

main section form .largeInputs--Container .select2-container--default:focus {
  border: 1px solid #aa198d;
}

main section form .largeInputs--Container .select2-container--default:hover {
  border: 1px solid #707070;
}

main section form .largeInputs--Container .select2-selection__rendered {
  line-height: 48px !important;
  font-size: 16px;
  text-indent: 16px;
}

main section form .largeInputs--Container .select2-container .select2-selection--single {
  font-size: 16px;
  height: 48px !important;
  border: none;
}

main section form .largeInputs--Container .select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url(../resources/icon-general-arrow-drop-up.svg);
  background-color: transparent;
  background-size: contain;
  border: none !important;
  height: 24px !important;
  width: 24px !important;
  margin: auto !important;
  top: 12px !important;
  left: 16px !important;
}

main section form .largeInputs--Container #licenseNumberLabel {
  font-size: 12px;
  color: #707070;
  margin: 4px 0 0 0;
}

main section form .declarations--Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 17px 0 0 0;
}

main section form .declarations--Container .declarate--CheckBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  position: relative;
}

main section form .declarations--Container .declarate--CheckBox label {
  font-size: 16px;
  text-align: right;
  color: #424242;
  margin: 17px 29px 0 0;
}

main section form .declarations--Container .declarate--CheckBox .checkbox-component label {
  user-select: none;
  position: relative;
  cursor: pointer;
  margin: 0;
}

main section form .declarations--Container .declarate--CheckBox input {
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

main section form .declarations--Container .declarate--CheckBox .checkmark {
  height: 18px;
  width: 18px;
  position: absolute;
  right: 0;
  bottom: -16px;
  background-color: transparent;
  border-radius: 1px;
  border: 1.5px solid #424242;
}

main section form .declarations--Container .declarate--CheckBox .checkbox-component label input:checked ~ .checkmark {
  background-color: #424242;
}

main section form .declarations--Container .declarate--CheckBox .checkmark:after {
  content: "";
  display: none;
  position: absolute;
}

main section form .declarations--Container .declarate--CheckBox .checkbox-component label input:checked ~ .checkmark:after {
  display: block;
}

main section form .declarations--Container .declarate--CheckBox .checkbox-component label .checkmark:after {
  transform: rotate(45deg);
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
}

main section form .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 50%;
  height: 86px;
  bottom: 0;
  right: 0;
  background-color: #FFFFFF;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  main section form .top {
    height: 100%;
    box-shadow: none;
    width: 100%;
    min-width: 100%;
    position: relative;
    margin: 41px 0 0 0;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  main section form .top {
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
  }
}

main section form .top span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #424242;
  margin-right: 16px;
  width: calc(100% - 426px);
}

@media (max-width: 1024px) {
  main section form .top span {
    width: auto;
  }
}

@media (max-width: 768px) {
  main section form .top span {
    justify-content: space-around;
    margin: 16px 0 0 0;
  }
}

@media (max-width: 593px) {
  main section form .top span {
    text-align: center;
  }
}

@media (max-width: 425px) {
  main section form .top span {
    justify-content: space-between;
  }
}

main section form .top span p {
  margin: 0;
  margin-right: 6px;
  color: #357875;
  font-weight: 600;
}

main section form .top input {
  min-width: calc(100% - 540px);
  height: 48px;
  border-radius: 29.2px;
  background-color: #357875;
  font-size: 18px;
  color: #FFFFFF;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1024px) {
  main section form .top input {
    width: calc(100% - 314px);
  }
}

@media (max-width: 768px) {
  main section form .top input {
    padding: 0;
    width: 100%;
  }
}

main section form .top input:disabled {
  background-color: #eaeaea;
  color: #bbbbbb;
  cursor: default;
}

main section form .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: calc(100% + 226px);
  height: 86px;
  margin: 38px 0 0 0;
  background-color: #FFFFFF;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  main section form .bottom {
    height: 100%;
    box-shadow: none;
    width: 100%;
    min-width: 100%;
    position: relative;
    margin: 41px 0 0 0;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  main section form .bottom {
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
  }
}

main section form .bottom span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #424242;
  margin-right: 16px;
  width: calc(100% - 426px);
}

@media (max-width: 1024px) {
  main section form .bottom span {
    width: auto;
  }
}

@media (max-width: 768px) {
  main section form .bottom span {
    justify-content: space-around;
    margin: 16px 0 0 0;
  }
}

@media (max-width: 593px) {
  main section form .bottom span {
    text-align: center;
  }
}

@media (max-width: 425px) {
  main section form .bottom span {
    justify-content: space-between;
  }
}

main section form .bottom span p {
  margin: 0;
  margin-right: 6px;
  color: #357875;
  font-weight: 600;
}

main section form .bottom input {
  min-width: calc(100% - 540px);
  height: 48px;
  border-radius: 29.2px;
  background-color: #357875;
  font-size: 18px;
  color: #FFFFFF;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1024px) {
  main section form .bottom input {
    width: calc(100% - 314px);
  }
}

@media (max-width: 768px) {
  main section form .bottom input {
    padding: 0;
    width: 100%;
  }
}

main section form .bottom input:disabled {
  background-color: #eaeaea;
  color: #bbbbbb;
  cursor: default;
}

body .flatpickr-current-month, .flatpickr-current-month span.cur-month, body .flatpickr-prev-month, body .flatpickr-next-month {
  color: #707070;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
}

body .flatpickr-day.selected {
  background-color: #aa198d;
  border-color: #aa198d;
}

body .flatpickr-day.selected:hover {
  background-color: #aa198d;
  border-color: #aa198d;
}

body .flatpickr-day.today {
  border-color: #aa198d;
  color: #424242;
}

body .flatpickr-day.today:hover {
  border-color: #aa198d;
  background-color: transparent;
  color: #424242;
}

body .flatpickr-day {
  color: #424242;
}

body .flatpickr-day:hover {
  border-color: #aa198d;
  background-color: transparent;
}

#successfullRegistrationContainer {
  display: none;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 240px);
  height: 100vh;
}

#successfullRegistrationContainer h1 {
  font-size: 44px;
  font-weight: 600;
  color: #357875;
  text-align: right;
  margin: 24px 0 24px 0;
}

#successfullRegistrationContainer h4 {
  font-size: 20px;
  text-align: center;
  color: #424242;
  line-height: 1.45;
  margin: 0;
}

#lastNameErrorMessage {
  display: none;
  color: #ff3a00;
  font-size: 12px;
  text-align: right;
  margin: 4px 0 0 0;
}

.error--lastName--Input {
  border: 1px solid #ff3a00;
  background-color: rgba(255, 58, 0, 0.08);
}

.error--lastName--Input:hover {
  border: 1px solid #ff3a00;
}

.error--lastName--Input:focus {
  box-shadow: none;
}

#firstNameErrorMessage {
  display: none;
  color: #ff3a00;
  font-size: 12px;
  text-align: right;
  margin: 4px 0 0 0;
}

.error--firstName--Input {
  border: 1px solid #ff3a00;
  background-color: rgba(255, 58, 0, 0.08);
}

.error--firstName--Input:hover {
  border: 1px solid #ff3a00;
}

.error--firstName--Input:focus {
  box-shadow: none;
}

#emailErrorMessage {
  display: none;
  color: #ff3a00;
  font-size: 12px;
  text-align: right;
  margin: 4px 0 0 0;
}

.error--Email--Input {
  border: 1px solid #ff3a00;
  background-color: rgba(255, 58, 0, 0.08);
}

.error--Email--Input:hover {
  border: 1px solid #ff3a00;
}

.error--Email--Input:focus {
  box-shadow: none;
}

#licenseNumberErrorMessage {
  display: none;
  color: #ff3a00;
  font-size: 12px;
  text-align: right;
  margin: 4px 0 0 0;
}

.error--LicenseNumber--Input {
  border: 1px solid #ff3a00;
  background-color: rgba(255, 58, 0, 0.08);
}

.error--LicenseNumber--Input:hover {
  border: 1px solid #ff3a00;
}

.error--LicenseNumber--Input:focus {
  box-shadow: none;
}

#phoneErrorMessage {
  display: none;
  color: #ff3a00;
  font-size: 12px;
  text-align: right;
  margin: 4px 0 0 0;
}

.error--Phone--Input {
  border: 1px solid #ff3a00;
  background-color: rgba(255, 58, 0, 0.08);
}

.error--Phone--Input:hover {
  border: 1px solid #ff3a00;
}

.error--Phone--Input:focus {
  box-shadow: none;
}

#passwordErrorMessage {
  display: none;
  color: #ff3a00;
  font-size: 12px;
  text-align: right;
  margin: 4px 0 0 0;
}

#passwordLengthMessage {
  display: none;
  color: #ff3a00;
  font-size: 12px;
  text-align: right;
  margin: 4px 0 0 0;
}

.error--Password--Input {
  border: 1px solid #ff3a00;
  background-color: rgba(255, 58, 0, 0.08);
}

.error--Password--Input:hover {
  border: 1px solid #ff3a00;
}

.error--Password--Input:focus {
  box-shadow: none;
}
