@font-face {
    font-family: 'Lucida Grande';
    src: url(/assets/fonts/Lucida-Grande.ttf);
}

@import './colors.scss';
@import './responsiveDesign.scss';
@include horizontal-tablet-view;
@include vertical-tablet-view;
@include horizontal-phone-view;
@include phone-view;

body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Grande', sans-serif;
}

main {
    display: flex;
    margin: 0 auto;
    align-self: center;
    justify-self: center;
    flex-direction: row;
    position: relative;
    max-width: 1440px;
    height: 100%;

    @include horizontal-tablet-view {
        max-width: 1024px
    };

    @include vertical-tablet-view {
        max-width: 768px;
    };

    @include horizontal-phone-view {
        max-width: 593px;
        flex-direction: column;
    }

    @include phone-view {
        max-width: 425px;
    };
    
    aside {
        position: relative;
        overflow: hidden;
        flex: 1;
        background-image: url(../resources/bg.svg);
        background-attachment: initial;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
        @include horizontal-tablet-view {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-position: top right;
        };

        @include  horizontal-phone-view {
            position: relative;
            min-height: 193px;
            background: url(../resources/bg-phone.svg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
        }
        
        #signUpLogo {
            position: absolute;
            top: 45px;
            left: 42px;
            max-width: 147px;

            @include horizontal-tablet-view {
                left: calc(50% - 73.5px);
                margin: 0 auto;
                z-index: 2;
            };

            @include horizontal-phone-view {
                position: relative;
                z-index: 4;
                top: 70px;
            }
        }
    }

    section {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        
        @include horizontal-tablet-view {
            z-index: 2;
            max-width: calc(100% - 194px);
            height: 100%;
            margin: 0 auto;
            background-color: #FFFFFF;
            margin-top: 128px;
            margin-bottom: 61px;
            box-shadow: 1px 1px 35px 0 rgba(0, 0, 0, 0.25);
        };
        
        @include horizontal-phone-view {
            max-width: 100%;
            margin: 0;
            box-shadow: none;
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: right;
            margin: 48px 0 0 0;
            width: calc(100% - 226px);
            //height: calc(100% + 131px);
            
            @include horizontal-tablet-view {
                width: calc(100% - 80px);
                margin: 48px 0 55px 0;
                height: 100%;
            };

            @include phone-view {
                width: calc(100% - 40px);
                margin: 30px 0 32px 0;
            }
            
            h1 {
                align-self: flex-end;
                font-weight: bold;
                font-size: 44px;
                color: $dark-green;
                font-weight: 600;
                margin: 0;
                width: 100%;

                @include horizontal-phone-view {
                    font-size: 28px;
                }
            }
            
            h4 {
                font-size: 16px;
                font-weight: bold;
                line-height: 26px;
                margin: 6px 0 21px 0;
                line-height: 1.63;
                width: 100%;
                color: $dark-silver;
                font-family: sans-serif;

                @include horizontal-tablet-view {
                    align-self: flex-end;
                    max-width: 479px;
                }

                @include phone-view {
                    width: calc(100% - 40px);
                }
            }

            //Name and Password Input Containers

            .smallInputs--Container {
                display: flex;
                flex-direction: row;
                border: none;
                justify-content: space-between;
                width: 100%;
                padding: 0;
                margin: 0;

                @include vertical-tablet-view {
                    flex-direction: column;
                }

                .password--Field {
                    position: relative;
                    margin-top: 25px;

                    img {
                        position: absolute;
                        top: 38px;
                        left: 14px;
                        height: 24px;
                        width: 24px;
                    }
                }
                
                .name--Field, .password--Field {
                    display: flex;
                    flex-direction: column;
                    width: calc(50% - 12px);

                    @include vertical-tablet-view {
                        width: 100%;
                        margin-top: 25px; 
                    }
                    
                    label {
                        font-size: 16px;
                        line-height: 1.5;
                        color: $dark-silver;
                        font-family: sans-serif;
                    }
                    
                    input {
                        height: 48px;
                        border-radius: 4px;
                        border: 1px solid $light-silver-border;
                        outline: none;
                        float: right;
                        direction: rtl;
                        text-indent: 16px;
                        font-size: 16px;

                        &:hover {
                            border: 1px solid $dark-grey-border;
                        }
                        
                        &:focus {
                            box-shadow: 0 0 0 1px $pink-border;
                        }

                        &::-ms-clear, &::-ms-reveal {  
                            display: none; 
                        }
                    }

                }
            }

            .birthDate--Container {
                display: flex;
                align-self: flex-end;
                align-items: flex-end;
                flex-direction: column;
                margin-top: 25px;
                width: 100%;

                label {
                    font-size: 16px;
                    line-height: 1.5;
                    color: $dark-silver;
                    font-family: sans-serif;
                }
                
                input {
                    text-indent: 16px;
                    font-size: 16px;
                    height: 48px;
                    width: 50%;
                    direction: rtl;
                    text-align: right;
                    font-family: sans-serif;

                    @include vertical-tablet-view {
                        width: 100%;
                    }
                    
                    &:hover {
                        border: 2px solid $dark-grey-border;
                    }
                    
                    &:focus {
                        box-shadow: 0 0 0 1px $pink-border;
                    }
                }
            }

            //Other Input Containers

            .largeInputs--Container {
                display: flex;
                width: 100%;
                flex-direction: column;
                margin-top: 25px;

                label {
                    font-size: 16px;
                    line-height: 1.5;
                    color: $dark-silver;
                    font-family: sans-serif;
                }

                input {
                    height: 48px;
                    border-radius: 4px;
                    border: 1px solid $light-silver-border;
                    outline: none;
                    resize: vertical;
                    float: left;
                    direction: rtl;
                    text-indent: 16px;
                    font-size: 16px;
                    
                    &:hover {
                        border: 1px solid $dark-grey-border;
                    }
                    
                    &:focus {
                        box-shadow: 0 0 0 1px $pink-border;
                    }

                    &::-ms-clear {  
                        display: none; width : 0; height: 0; 
                    }
                    &::-ms-reveal {  display: none; width : 0; height: 0; }
                }

                .select2-container--default {
                    line-height: 48px !important;
                    border-radius: 4px;
                    border: 1px solid $light-silver-border;
                    max-width: 100%;
                    width: 100% !important;
                    
                    &:focus {
                        border: 1px solid $pink-border;
                    }

                    &:hover {
                        border: 1px solid $dark-grey-border;
                    }
                }
                
                .select2-selection__rendered {
                    line-height: 48px !important;
                    font-size: 16px;
                    text-indent: 16px;
                    
                }
                
                .select2-container .select2-selection--single {
                    font-size: 16px;
                    height: 48px !important;
                    border: none;
                }

                .select2-container--default .select2-selection--single .select2-selection__arrow b {
                    background-image: url(../resources/icon-general-arrow-drop-up.svg);
                    background-color: transparent;
                    background-size: contain;
                    border: none !important;
                    height: 24px !important;
                    width: 24px !important;
                    margin: auto !important;
                    top: 12px !important;
                    left: 16px !important;
                }

                #licenseNumberLabel {
                    font-size: 12px;
                    color: $dark-grey-border;
                    margin: 4px 0 0 0;
                }
            }

            //CheckBox Containers

            .declarations--Container {
                display: flex;
                width: 100%;
                flex-direction: column;
                margin: 17px 0 0 0;

                .declarate--CheckBox {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-self: flex-end;
                    position: relative;

                    label {
                        font-size: 16px;
                        text-align: right;
                        color: $dark-silver;
                        margin: 17px 29px 0 0;
                    }

                    .checkbox-component label{
                        user-select: none;
                        position: relative;
                        cursor: pointer;
                        margin: 0;
                      }
                      
                       input {
                        height: 0;
                        width: 0;
                        opacity: 0;
                        position: absolute;
                        cursor: pointer;
                    }
                    
                      .checkmark {
                        height: 18px;
                        width: 18px;
                        position: absolute;
                        right: 0;
                        bottom: -16px;
                        background-color: transparent;
                        border-radius: 1px;
                        border: 1.5px solid $dark-silver;
                      }
                      
                      .checkbox-component label input:checked ~ .checkmark {
                        background-color: $dark-silver;
                      }
                      
                      .checkmark:after {
                        content: "";
                        display: none;
                        position: absolute;
                      }
                      
                      .checkbox-component label input:checked ~ .checkmark:after {
                        display: block;
                      }
                      
                      .checkbox-component label .checkmark:after {
                        transform: rotate(45deg);
                        left: 6px;
                        top: 2px;
                        width: 4px;
                        height: 8px;
                        border: solid #FFFFFF;
                        border-width: 0 3px 3px 0;
                      }
                }
            }

            //Register Button Container

            .top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                position: fixed;
                width: 50%;
                height: 86px;
                bottom: 0;
                right: 0;
                background-color: #FFFFFF;
                box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.1);

                @include horizontal-tablet-view {
                    height: 100%;
                    box-shadow: none;
                    width: 100%;
                    min-width: 100%;
                    position: relative;
                    margin: 41px 0 0 0;
                    justify-content: space-between;
                };

                @include vertical-tablet-view {
                    justify-content: center;
                    flex-direction: column-reverse;
                    width: 100%;
                }
                
                span {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    color: $dark-silver;
                    margin-right: 16px;
                    width: calc(100% - 426px);

                    @include horizontal-tablet-view {
                        width: auto;
                    }

                    @include vertical-tablet-view {
                        justify-content: space-around;
                        margin: 16px 0 0 0;
                    }

                    @include horizontal-phone-view {
                        text-align: center;
                    }

                    @include phone-view {
                        justify-content: space-between;
                    }
                    
                    p {
                        margin: 0;
                        margin-right: 6px;
                        color: $dark-green;
                        font-weight: 600;
                    }
                }
            
                input {
                    min-width: calc(100% - 540px);
                    height: 48px;
                    border-radius: 29.2px;
                    background-color: $dark-green;
                    font-size: 18px;
                    color: #FFFFFF;
                    border: none;
                    font-weight: 600;
                    cursor: pointer;

                    @include horizontal-tablet-view {
                        width: calc(100% - 314px);
                    }

                    @include vertical-tablet-view {
                        padding: 0;
                        width: 100%;
                    }

                    &:disabled {
                        background-color: $button-disabled-background;
                        color: $button-disabled-color;
                        cursor: default;
                    }
                }
            }

            .bottom {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                position: relative;
                width: calc(100% + 226px);
                height: 86px;
                margin: 38px 0 0 0;
                background-color: #FFFFFF;
                box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.1);

                @include horizontal-tablet-view {
                    height: 100%;
                    box-shadow: none;
                    width: 100%;
                    min-width: 100%;
                    position: relative;
                    margin: 41px 0 0 0;
                    justify-content: space-between;
                };

                @include vertical-tablet-view {
                    justify-content: center;
                    flex-direction: column-reverse;
                    width: 100%;
                }
                
                span {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    color: $dark-silver;
                    margin-right: 16px;
                    width: calc(100% - 426px);

                    @include horizontal-tablet-view {
                        width: auto;
                    }

                    @include vertical-tablet-view {
                        justify-content: space-around;
                        margin: 16px 0 0 0;
                    }

                    @include horizontal-phone-view {
                        text-align: center;
                    }

                    @include phone-view {
                        justify-content: space-between;
                    }
                    
                    p {
                        margin: 0;
                        margin-right: 6px;
                        color: $dark-green;
                        font-weight: 600;
                    }
                }
            
                input {
                    min-width: calc(100% - 540px);
                    height: 48px;
                    border-radius: 29.2px;
                    background-color: $dark-green;
                    font-size: 18px;
                    color: #FFFFFF;
                    border: none;
                    font-weight: 600;
                    cursor: pointer;

                    @include horizontal-tablet-view {
                        width: calc(100% - 314px);
                    }

                    @include vertical-tablet-view {
                        padding: 0;
                        width: 100%;
                    }

                    &:disabled {
                        background-color: $button-disabled-background;
                        color: $button-disabled-color;
                        cursor: default;
                    }
                }
            }
        }
    }
}

body .flatpickr-current-month,  .flatpickr-current-month span.cur-month, body .flatpickr-prev-month, body .flatpickr-next-month {
    color: $dark-grey-border;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
}

body .flatpickr-day.selected {
    background-color: $birth-date-color;
    border-color: $birth-date-color;
    
    &:hover {
        background-color: $birth-date-color;
        border-color: $birth-date-color;
    }
}

body .flatpickr-day.today {
    border-color: $birth-date-color;
    color: $dark-silver;
    
    &:hover {
        border-color: $birth-date-color;
        background-color: transparent;
        color: $dark-silver;
    }
}

body .flatpickr-day {
    color: $dark-silver;

    &:hover {
        border-color: $birth-date-color;
        background-color: transparent;
    }
}

#successfullRegistrationContainer {
    display: none;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 240px);
    height: 100vh;

    h1 {
        font-size: 44px;
        font-weight: 600;
        color: $dark-green;
        text-align: right;
        margin: 24px 0 24px 0;
    }

    h4 {
        font-size: 20px;
        text-align: center;
        color: $dark-silver;
        line-height: 1.45;
        margin: 0;
    }
}

//*Error handling*

//--Names

#lastNameErrorMessage {
    display: none;
    color: $error-message;
    font-size: 12px;
    text-align: right;
    margin: 4px 0 0 0;
}

.error--lastName--Input {
    border: 1px solid $error-message;
    background-color: $error-background;

    &:hover {
        border: 1px solid $error-message;
    }

    &:focus {
        box-shadow: none;
    }
}

#firstNameErrorMessage {
    display: none;
    color: $error-message;
    font-size: 12px;
    text-align: right;
    margin: 4px 0 0 0;
}

.error--firstName--Input {
    border: 1px solid $error-message;
    background-color: $error-background;

    &:hover {
        border: 1px solid $error-message;
    }

    &:focus {
        box-shadow: none;
    }
}



//--Email

#emailErrorMessage {
    display: none;
    color: $error-message;
    font-size: 12px;
    text-align: right;
    margin: 4px 0 0 0;
}

.error--Email--Input {
    border: 1px solid $error-message;
    background-color: $error-background;

    &:hover {
        border: 1px solid $error-message;
    }

    &:focus {
        box-shadow: none;
    }
}

//--License number 

#licenseNumberErrorMessage {
    display: none;
    color: $error-message;
    font-size: 12px;
    text-align: right;
    margin: 4px 0 0 0;
}

.error--LicenseNumber--Input {
    border: 1px solid $error-message;
    background-color: $error-background;

    &:hover {
        border: 1px solid $error-message;
    }

    &:focus {
        box-shadow: none;
    }
}

//--Phone number 

#phoneErrorMessage {
    display: none;
    color: $error-message;
    font-size: 12px;
    text-align: right;
    margin: 4px 0 0 0;
}

.error--Phone--Input {
    border: 1px solid $error-message;
    background-color: $error-background;

    &:hover {
        border: 1px solid $error-message;
    }

    &:focus {
        box-shadow: none;
    }
}

//--Password

#passwordErrorMessage {
    display: none;
    color: $error-message;
    font-size: 12px;
    text-align: right;
    margin: 4px 0 0 0;
}

#passwordLengthMessage {
    display: none;
    color: $error-message;
    font-size: 12px;
    text-align: right;
    margin: 4px 0 0 0;
}

.error--Password--Input {
    border: 1px solid $error-message;
    background-color: $error-background;

    &:hover {
        border: 1px solid $error-message;
    }

    &:focus {
        box-shadow: none;
    }
}

