@mixin horizontal-tablet-view {
    @media (max-width: 1024px) { @content; }
}

@mixin vertical-tablet-view {
    @media (max-width: 768px) { @content; }
}

@mixin horizontal-phone-view {
    @media (max-width: 593px) { @content; }
}

@mixin phone-view {
    @media (max-width: 425px) { @content; }
}